.settings {
    display: flex;
    margin: 15px;
    background-color: var(--main-color);
    flex: 1;
    border-radius: 20px;
    padding: 20px;
}

.settings-edit {
    display: flex;
    justify-content: end;
    width: 100%;
}

.settings-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.settings-user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-user-avatar__img {
    width: 200px;
    height: 200px;
}

.settings-user-avatar__span {
    font-size: 25px;
    color: var(--white-color);
}